header {
    height: 100vh;
    @include flexbox();
    flex-direction: column;
    justify-content: space-between;
}

.nav-mobile {
    padding-bottom: 2rem;
    li > a {
        padding: 0.7rem 1rem 0.7rem 0;
    }
}