.header
  position: fixed
  padding: 0.75rem
  z-index: 5

  
.header__bars
  transition: stroke var( --standard-easing-duration ) cubic-bezier( var( --standard-easing-bezier ) )

.header--inverted
  
  .header__bars
    stroke: var( --color-text-normal )

  
.header__trigger
  background: none
  border: none
  margin: 0
  padding: 0.25rem
  cursor: pointer

.header__bars
  @include fluid-spacing(width, 37.5rem, 80rem, 1.5rem, 2rem)