.slideshow

.slideshow__slide
  display: none

// Grid Styles
// ================================================================
@supports (display: grid)
  .slideshow
    display: grid
    grid-template-rows: 1fr
    grid-template-columns: 1fr
    align-content: center
    justify-content: center

  // TODO set this back to display: grid
  .slideshow__slide
    display: grid
    grid-area: 1 / 1 / 2 / 2

  .slideshow__slide--is-current
    z-index: 2

  .slideshow__img

  .slideshow__img--hyper-res
    width: 88vh
    max-width: none
    @media screen and ( $min-width-medium )
      width: initial
      //shared with splash
      height: calc(100vh - 74px)
      min-height: 500px
    @media screen and ( $min-width-large )
      height: initial
      min-height: initial
      width: 100vw

// Slideshow navigation styles
// ================================================================

.slideshow__radio
  display: none

.slideshow__label
  display: inline-block
  width: 1rem
  height: 1rem
  border: 1px solid

.slideshow__radio:checked + .slideshow__label
  border-color: red

.slideshow__slide
  opacity: 0
  transition: opacity  var( --standard-easing-duration ) cubic-bezier( var( --standard-easing-bezier ) ) 

@for $i from 1 through 8
  .slideshow__radio--#{$i}:checked ~ .slideshow__slide--#{$i}
    opacity: 1