.splash
  overflow: hidden
  background-color: var( --light-gray )
  padding: 0
  @include splash-height


// Grid Styles
// ================================================================
@supports (display: grid)
  .splash
    display: grid
    grid-template-rows: 1rem 200px 1fr 100px 1rem
    grid-template-columns: 1rem 1fr 200px 1fr 1rem
    align-items: center

  .splash--gallery  
    grid-template-rows: 1fr
    grid-template-columns: 80px 1fr 80px
    grid-auto-flow: column
    max-height: 100vh

  .splash__logo
    grid-row: 2 / 3
    grid-column: 3 / 4
    // prevents flicker when transitioning from one slide to another
    z-index: 1

  .splash__bg
    grid-row: 1 / 6
    grid-column: 1 / 6
