.body-content {
    min-height: calc(100vh - 40px);
    @include breakpoint(medium){
        min-height: initial;
        overflow: hidden;
    }
}

.off-canvas-content, .off-canvas-content {
    box-shadow: initial;
}

// All Pages
// =========
.home {
    .heading {
        margin-top: 10vh;
    }
    .subheading {
        padding: .6rem 2.6rem;
        @include breakpoint(medium){
            padding: 0;
        }
    }
    .small-title {
        font-family: $font-family-sans-serif;
        background-color: $color-primary;
        padding: 0 .5rem 0 2.5rem;
        display: inline-block;
        color: $white;
        font-size: 2.4rem;
        font-weight: 700;
        letter-spacing: -.9px;
        text-transform: uppercase;
        @include breakpoint(medium){
            font-weight:300;
        }
    }
}

// Specific Pages
// ==============

.home {
    h2,
    p:nth-child(2) {
        font-weight: bold
    }
}

.portfolio {
    .content {
        margin-bottom: 5vh;
    }
}

// Portfolio Tiles
// ===============

.portfolio-card {
    font-family: sans-serif;
    height: 360px;
    position: relative;
    font-size: 1.4rem;
    transition: .15s ease-in-out;
    padding: 0;
    z-index: 1;
}
.card {
    color: $white;
    position: absolute; 
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.card.image{
    mix-blend-mode: screen;
    background-size: cover!important;
    opacity: .35;
}
.card {
    a {
        color: inherit;
    }
    &>span {
        color: inherit;
        align-self: center;
        display: inline-block;
        text-align: center;
        width: 65%;
        height: 25%;
        border: 1px solid;
        padding: .42rem 2rem;
        transition: all .35s ease-in-out;
        @include breakpoint(medium){
            width: 50%;
        }
    }
    &.card-button {
        &>span {
            z-index: 2;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        a {
            position: absolute;
            top: 0;
            bottom:0;
            right:0;
            left:0;
        }
    }
    &.underline span {
        border: initial;
        border-bottom: 1px solid;
    }
    &.description span {
        z-index: 3;
        border: initial;
        font-size: 1rem;
        margin-top: 11.4rem;
        opacity: 0;
        width: 90%;
        display: block;
        a:hover {text-decoration: underline}
        @include breakpoint(medium){
            width: 70%;
        }
    }
    //.meta
    .tech,
    .platform {
        font-size: 1rem;
        opacity: 1 ;
        border: none;
        position: absolute;
        top: 0;
        width: initial;
        padding: .2rem .8rem;
    }
    .tech {
        left: 0;
        text-align: left;
    }
    .platform {
        right: 0;
    }
}
.portfolio-card:hover {
    background-color: rgba(90,90,90,.9);
    .card.card-button span {
        border-color: rgba(255,255,255,0);
    }
    .card.underline span {
        width: 22%;
        height: 17%;
    }
    .card.description > *{
        opacity: 1;
    }
    & .card.underline > *,
    & .card.card-button > *,
    & .card.description > *{
        transform: translate(0, -60px);
    }   
}


.card-1 {
    background-color: rgba(120,120,120,.75);
    .card.image {
        background: url("../img/give-r-ecommerce-1.jpg") no-repeat center;
    }
}
.card-2 {
    background-color: rgba(250, 141, 40, .55);
    .card.image {
        background: url("../img/amy-galbraith-blog-1.jpg") no-repeat center;
    }
}
.card-3 {
    &:hover span {
        color: $white;
    }
    span {
        color: $black;
    }
}
.card-4 {
    background-color: rgba(190,190,190,.75);
    .card.image {
        background: url("../img/t-and-c-entertainment-1.jpg") no-repeat center;
    }
}

// Contact Page
// ============

.contact {
    label > span {
        color: $color-primary;
    }
    input,
    textarea {
        display: block;
        width: 100%;
        padding: .33rem;
    }
    form > * {
        margin: 1rem 0;
    }
}