// header on small
.title-bar {
    padding: .25rem;
    color: $black;
    &-right {
        margin: .2rem;
    }
}

// header on medium up
.top-bar {
    padding-top: 0;
    position: relative;
    z-index: 1;
    background-color: $white;
}
.top-bar-left {
    background-color: $color-primary;
    span {
        display: block;
    }
    a {
        color: $white;
        text-transform: uppercase;
        font-weight: 600;
    }
}
.top-bar-right {
    font-size: 1.8rem;
    li:nth-child(n+2) {
        padding-left: 6rem;
    }
    a {
        color: $black;
    }
}
.top-bar-left,
.top-bar-right {
    padding-top: 30px;
}