// ===============================
// Menu Styles
// ===============================
@include breakpoint (medium) {
    .nested-menu {
        position: relative;
        ul {
            height: 0px;
            overflow: hidden;
            position: absolute;
            margin-left: 0!important;
        }
        &:hover ul {
            background-color: $white;
            height: initial;
            border: 1px solid $light-gray;
            border-top: none;
            border-bottom-right-radius: 2px;
            border-bottom-left-radius: 2px;
        }
    }
}