// ===============================
// Menu Styles
// ===============================

.submenu {
    border-top: none;
}
.is-dropdown-submenu-parent .submenu {
    display: none;
}
.is-dropdown-submenu-parent.is-active .submenu {
    @include display-flex;
}
.dropdown.menu>li.opens-right>.is-dropdown-submenu {
    left: -15px;
    min-width: 170px;
}

@include breakpoint (medium) {
    .nested-menu {
        position: relative;
        ul {
            height: 0px;
            overflow: hidden;
            position: absolute;
            margin-left: 0!important;
        }
        &:hover ul {
            background-color: $white;
            height: initial;
            border: 1px solid $light-gray;
            border-top: none;
            border-bottom-right-radius: 2px;
            border-bottom-left-radius: 2px;
        }
    }
}