.heading {
    padding-top: 33vh;
    .subheading {
        padding-top: 2rem;
    }
}

.index {
    .about-content,
    .contact-content,
    .experience-content,
    .portfolio-content {
        display: none;
    }
}

.about-content,
.contact-content,
.experience-content,
.portfolio-content {
    margin-top: 20px;
    @media screen and ( min-width: 768px ) {
        margin-top: 0px;
    }
}

@media screen and ( min-width: 768px ) {
    .index {
        .about,
        .contact,
        .experience,
        .portfolio {
            display: initial;
        }
    }
}