// ===============================
// Blog styles
// ===============================

$color-map      : ( color-1: #d2d2d2, color-2: #a2a2a2, color-3: #646464, color-4: #838383, color-5: #838383, color-6: #c2c2c2, color-7: #737373 , color-8: #b2b2b2 );
$image-map      : ( image-1: '../img/hidden_meadows_wedding-photos-bailey-001.jpg',
                    image-2: '../img/seattle_senior_photographer-claire-17.jpg',
                    image-3: '../img/Promo-PhotoforBlog.jpg',
                    image-4: '../img/jackson_hole_wedding_photographer-035.jpg',
                    image-5: '../img/wing-lake-backpacking-10.jpg',
                    image-6: '../img/seattle_senior_photographer-betty-4.jpg',
                    image-7: '../img/jackson_hole_hotel_terra_wedding_photos-todd-036.jpg',
                    image-8: '../img/skansonia_wedding_photos-davis-42.jpg',
                    );

.blog .module-heading {

}

.blog-feed {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: .5rem 0;
}
.b-post {
    position: relative;
    background-color: $dark-gray;
    min-width: 24.9%;
    height: 20rem;
    flex-grow: 1;
    &:hover .b-overlay {
        background-color: transparentize($black,.8),
    }
}
.b-title {
    @extend .abs-centered;
    @extend .flex-centered;
    z-index: 2;
    span {
        color: $white;
        text-transform: uppercase;
    }
}
.b-background {
    height:100%;
    background-blend-mode: multiply;
}
.b-overlay {
    @extend .abs-centered;
    z-index: 1;
    background-color: transparent;
}

@for $i from 1 through 8 {
    .b-post:nth-child(#{$i}) .b-background {
        background: map-get($color-map, color-#{$i}) no-repeat center/cover;
        background-image: url(map-get($image-map, image-#{$i}));
    }
}
