// ===============================
// Footer styles
// ===============================

.footer {
    @extend .flex-centered;
    position: relative;
    margin-bottom: .5rem;
    color: $black;

    i {
        padding: 1rem;
    }

    .credits,
    .contact {
        position: absolute;
        padding: 0 1rem;
        font-family: $font-main;
        text-transform: uppercase;
        letter-spacing: -1px;
    }

    .credits {
        left: 0;
    }
    .contact {
        right: 0;
        a {
            color: inherit;
            box-shadow: 0px 3px 0px 0px $light-gray;
            transition: .15s;
            &:hover {
                color: $medium-gray;
            }
        }
    }
}