// ===============================
// Galleries Container Styles
// ===============================

$transition-time            :   .4s;
$transition-bezier          :   cubic-bezier(.56,.26,.37,.98);

.g-card {
    position: relative;
    padding: .25rem;

    .g-title {
        @extend .abs-centered;
        @extend .flex-centered;
        span {
            color: $white;
            padding: 1rem 0;
            width: 50%;
            max-width: 244px;
            text-align: center;
            border: 1px solid;
            border-color: $white;
            transition-duration: .4s;
            font-family: $font-main;
            text-transform: uppercase;
            font-weight: 800;
        }
    }

    .g-underline {
        @extend .abs-centered;
        @extend .flex-centered;
        span {
            width: 50%;
            max-width: 244px;
            height: 21%;
            border-bottom: 1px solid $white;
            @include breakpoint(medium){
                height: 3.6rem;
                transition: all $transition-time $transition-bezier;
            }
        }
    }

    .g-background {
        margin: .25rem;
        height: 16rem;
        background: $dark-gray no-repeat center/cover;
        @include breakpoint(medium){
            height: 320px;
        }
    }


    &.weddings .g-background {
        background-image: url('../img/amy-galbraith-photography-wedding-gallery-seattle-wedding-photographer.jpg');
    }

    &.engagements .g-background {
        background-image: url('../img/amy-galbraith-engagement-gallery-seattle-wedding-photographer.jpg');
        @include breakpoint(medium only){
            height: 280px;
        }
    }

    &.seniors .g-background {
        background-image: url('../img/amy-galbraith-photography-highschool-senior-gallery.jpg');
        @include breakpoint(medium only){
            height: 280px;
        }
    }

    a {
        @extend .abs-centered;
        background: transparentize( $white,.7 );
        transition: background $transition-time $transition-bezier;
    }
    @include breakpoint(medium){
            &:hover {
                a {
                    background: transparent;
                }
                .g-title span {
                    border-color: transparent;
                    transition: $transition-time $transition-bezier;
                }
                .g-underline span {
                    width: 12%;
                    // border-color: #C93;
                }
            }
        }
}

.galleries .row {
    margin-bottom: 2rem;
}