// ===============================
// Header styles
// ===============================

.title-bar {
    @extend .flex-centered;
}

.menu>li>a {
    color: $color-menu-text;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .8rem;
    padding: 0.7rem 2rem;
}