// ===============================
// Jumbotron styles
// ===============================
.j-height {
    height: calc(100vh - 160px);
    min-height: 500px;
    max-height: 720px;
}

.jumbotron {
    @extend .j-height;
    position: relative;
    border-bottom: 2px solid $dark-gray;
}

.j-slide {
    height: 100%;
    .j-background {
        @extend .j-height;
    }
}
.j-overlay {
    @extend .abs-centered;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background: url('../img/amy-galbraith-photography-logo.png') no-repeat center/contain;
    background-size: 300px;
    i {
        font-size: 2.4rem;
        color: $color-menu-text;
    }
}

.j-arrow {
    @extend .flex-centered;
}