// ===============================
// Jumbotron styles
// ===============================
@mixin j-height {
    height: calc(100vh - 74px);
    min-height: 500px;
    margin-bottom: 20px;
}

.jumbotron {
    @include j-height;
    position: relative;
}
.j-background {
    @include j-height;
    background: no-repeat center/cover;
}
.j-overlay {
    @include abs-centered;
    @include display-flex;
    @include align-items(center);
}

.j-arrow {
    @include flex-centered;
    @include flex-direction(column);
    color: $white;
    span {
        display: block;
        font-family: $font-handwriting;
    }
    a {
        text-align: center;
        color: $white;
        position: relative;
        z-index: 1; 
    }
    i {
        font-size: 2.4rem;
        margin-bottom: .5rem;
    }
}
.j-overlay-content {
    @include abs-centered;
    @include display-flex;
    @include flex-direction(column);
    @include align-items(center);
    img {
        width: 120px;
        @include breakpoint (medium){
            width: 60%;
            max-width: 220px;
        }
        @include breakpoint (large) {
            min-width: 220px;
        }
    }
}

.home {
    .j-track {
        @include j-height;
    }
    .j-background {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: calc(100vh - 74px)!important;
        min-height: 500px!important;
        &.j-1{background-image:url('../img/homepage/001-leavenworth_wedding_photographer-betz-001.jpg');background-position:bottom;}
        &.j-2{background-image:url('../img/homepage/002-jackson_hole_wedding_photographer-todd-002.jpg');}
        &.j-3{background-image:url('../img/homepage/002-wisconsin-wedding-photographer-001.jpg');}
        &.j-4{background-image:url('../img/homepage/003-leavenworth_wedding_photographer-jasinski-004.jpg');}
        &.j-5{background-image:url('../img/homepage/004-within-sodo-wedding-aebischer.jpg');}
        &.j-6{background-image:url('../img/homepage/006-mt-baker-engagement-session-001.jpg');}
        &.j-7{background-image:url('../img/homepage/007-bainbridge-island-engagement-001.jpg');}
        &.j-8{background-image:url('../img/homepage/008-stevens-pass-engagement-session-001.jpg');}
    }
    .j-overlay-background {
        @include abs-centered;
        background: url('../img/amy-galbraith-photography-logo-white.png') no-repeat top;
        background-size: 160px;
        @include breakpoint ( medium ) {
            background-size: 200px;
        }
        @include breakpoint ( large ) {
            background-size: 240px;
        }
    }
    .j-overlay {
        flex-direction: column-reverse;
    }
}

.about {
    .jumbotron {
        border-bottom: none;
    }
    .j-overlay.row {
        margin-top: 48px;
    }
    .j-overlay-content {    
        justify-content: space-between;
        @media screen and (min-width: 40em) and (max-width: 63.96em) and (orientation: landscape) {
            max-width: 60%!important;
            img {
                width: 130px!important;
            }
        }
    }
    .j-background {
        background-position: left;
        background-image: url('../img/about/amy-galbraith-wedding-engagement-senior-photography-about-page-portrait.jpg');
        @include breakpoint (medium) {
            background-position: right;
        }
        @include breakpoint (large) {
            background-position: center;
        }
    }
    .j-overlay-background {
        background-image: url('../img/amy-galbraith-photography-logo.png');
    }
    .j-arrow a {
        font-weight: bold;
        color: $white;
        @include breakpoint (medium) {
            color: $black;
        }
    }
    .j-overlay-text {
        padding: 1rem .2rem 1rem .8rem;
        align-self: flex-end;
        margin-bottom: calc(25vw - 160px);
        color: $white;
        text-align: center;
        h1 {
            color: inherit;
            font-size: 3.5rem;
        }
        @include breakpoint (medium) {
            text-align: left;
            background: transparentize($white, .2);
            border-right: 2px solid $white;
            color: $black;
        }
    }
}

.investment {
    .j-background {
        background-image: url('../img/other/amy-galbraith-wedding-engagement-senior-photography-snake-river-sporting-club-brin.jpg');
        @include breakpoint ( small only ) {
            background-position: right;
        }
    }
    .j-overlay.row {
        justify-content: center;
        @include breakpoint (medium) {
            margin-top: 48px;
        }
    }
    .j-overlay-content {
        justify-content: center;
    }
    .j-overlay-text {
        display: flex;
        flex-direction: column;
        p, a {
            margin-bottom: 2rem;
        }
    }
    .j-arrow {
        align-self: flex-end;
        a {
            color: $white;
            @include breakpoint (medium) {
                color: $black;
            }
        }
    }
}

.vendors {
    .jumbotron,
    .j-background {
        max-height: 300px;
        min-height: initial;
    }   
}