// ===============================
// Slick styles
// ===============================

.slick-arrow {
    z-index: 1;
    mix-blend-mode: exclusion;
    &.slick-prev {
        left: 4%;
    }
    &.slick-next {
        right: 4%;
    }
    &:before {
        opacity: 1!important;
    }
}

.s-wrapper {
    @include breakpoint (large) {
        margin-top: 48px;
    }
}

.s-slide {
    margin-right: 1px;
    position: relative;
    min-width: 300px;
    img {
        color: transparent;
    }
    @media screen and (max-width: 1024px) and (orientation: landscape) {
        min-width: 200px;
    }
}

.s-overlay {
    .slick-slide & {
        opacity: .25;
    }
    .slick-slide.slick-current & {
        opacity: 0;
    }
    @include abs-centered;
    width: 100%;
    height: 100%;
    transition: opacity $transition-time $transition-bezier;
}

.gallery {
    min-height: 100vh;
    .page-wrapper {
        padding-top: 40px;
        @include breakpoint (portrait) {
            min-height: 80vh;
        }
    }
    .s-container.slick-initialized {
        .s-slide,
        .s-slide:nth-child(n+2) {
            @include display-flex-important;
            @include justify-content(center);
            @include align-items(center);
        }
    }
    .s-slide {
        max-height: 700px;
        min-width: 200px;
        &>img {
            height: 70vh;
            max-width: initial;
        }
    }
    .slick-slide {
        img {
            margin: auto;
        }
    }
    @include breakpoint (medium) {
        .page-wrapper {
            padding-top: 0;
        }
        .s-slide {
            max-height: 885px;
            &>img {
                height: 87.5vh;
            }
        }
    }
    // @include breakpoint (large) {
    //     .s-overlay {
    //         position: absolute;
    //         top: 0;
    //         bottom: 0;
    //         left: 0;
    //         right: 0;
    //         background-color: transparentize($white,.7);
    //         transition: background-color .2s $transition-bezier;
    //     }
    //     .slick-active .s-overlay {
    //         background-color: transparent;
    //     }
    //     .slick-arrow:focus {
    //         background: transparent;
    //     }
    // }
    .footer {
        .social a {
            color: $color-gallery-icons;
        }
    }
    @media screen and (orientation: landscape) and (max-width: 1024px)  { /* @include breakpoint (large) */
        .title-bar {
            display: none;
        }
        .page-wrapper {
            height: calc(100vh - 4px);
            padding-top: 2px;
            padding-bottom: 2px;
        }
        .s-slide>img {
            height: calc(100vh - 4px);
        }
        .slick-dots,
        .footer {
            display: none !important;
        }
    }
}
