// ===============================
// Typography Styles
// ===============================

@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Quicksand');

$color-menu-text    : lighten($black,.75);

.module-heading {
    width: 100%;
    text-align: center;
    margin: 2rem 0 1.7rem;
}