@import url(https://fonts.googleapis.com/css?family=Lato:500,700|Open+Sans:400,300,600);
div {
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25); }

.sticky-container ul.menu {
  padding-top: 45vh; }
  .sticky-container ul.menu a {
    justify-content: flex-end; }

.heading {
  padding-top: 29vh; }

header {
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.nav-mobile {
  padding-bottom: 2rem; }
  .nav-mobile li > a {
    padding: 0.7rem 1rem 0.7rem 0; }

body {
  font-family: "open sans", helvetica, tahoma, sans-serif;
  text-rendering: optimizelegibility; }

h1.name {
  display: inline-block;
  line-height: 0;
  opacity: 0;
  font-family: lato, helvetica, tahoma, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 3rem;
  letter-spacing: -.15rem;
  margin-left: -2px; }

header p {
  opacity: 0; }

.name span {
  position: relative; }
.name span:nth-child(1) {
  color: #BF3F3F; }
.name span:nth-child(2) {
  color: #2C852C; }
.name span:nth-child(3) {
  color: #6b8; }

.subheading span:first-child {
  display: block; }

.effect.fade-in-down {
  -webkit-animation-name: fade-in-down;
  animation-name: fade-in-down;
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px); }
  65% {
    opacity: 1; }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }
@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px); }
  65% {
    opacity: 1; }
  100% {
    opacity: 1;
    transform: translateY(0); } }
.effect.lo-fi {
  position: relative;
  -webkit-animation-name: lo-fi;
  animation-name: lo-fi;
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s; }

.effect.lo-fi-2 {
  -webkit-animation-name: lo-fi-2;
  animation-name: lo-fi-2;
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s; }

@-webkit-keyframes lo-fi {
  0% {
    right: 0px;
    top: 0px; }
  6% {
    right: .33px;
    top: .40px; }
  14% {
    right: -.78px;
    top: -.74px; }
  24% {
    right: .98px;
    top: -.33px; }
  36% {
    right: -.41px;
    top: .99px; }
  48% {
    right: -.59px;
    top: .88px; }
  53% {
    right: .83px;
    top: -.76px; }
  61% {
    right: .49px;
    top: -.41px; }
  75% {
    right: -.39px;
    top: -.63px; }
  83% {
    right: -.82px;
    top: .34px; }
  91% {
    right: -.47px;
    top: .37px; }
  100% {
    right: 0px;
    top: 0px; } }
@-webkit-keyframes lo-fi-2 {
  0% {
    left: 0px;
    top: 0px; }
  7% {
    left: 1.53px;
    top: .61px; }
  18% {
    left: .97px;
    top: 1.69px; }
  28% {
    left: 1.55px;
    top: -1.05px; }
  36% {
    left: -1.16px;
    top: -1.13px; }
  48% {
    left: .88px;
    top: .96px; }
  53% {
    left: -1.58px;
    top: 1.36px; }
  66% {
    left: -.77px;
    top: -1.5px; }
  78% {
    left: -.92px;
    top: .99px; }
  88% {
    left: .86px;
    top: .65px; }
  94% {
    left: 1.56px;
    top: -1.67px;
    transform: scale(1.1); }
  100% {
    left: 0px;
    top: 0px; } }
.animsition,
.animsition-overlay {
  position: relative;
  opacity: 0;
  animation-fill-mode: both; }

/**
 * overlay option
 */
.animsition-overlay-slide {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #ddd; }

/* loading option */
.animsition-loading,
.animsition-loading:after {
  width: 32px;
  height: 32px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
  border-radius: 50%;
  z-index: 100; }

.animsition-loading {
  background-color: transparent;
  border-top: 5px solid rgba(0, 0, 0, 0.2);
  border-right: 5px solid rgba(0, 0, 0, 0.2);
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
  border-left: 5px solid #eee;
  transform: translateZ(0);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: .8s;
  animation-name: animsition-loading; }

@keyframes animsition-loading {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes overlay-slide-in-top {
  0% {
    height: 100%; }
  100% {
    height: 0; } }
.overlay-slide-in-top {
  top: 0;
  height: 0;
  animation-name: overlay-slide-in-top; }

@keyframes overlay-slide-out-top {
  0% {
    height: 0; }
  100% {
    height: 100%; } }
.overlay-slide-out-top {
  top: 0;
  height: 100%;
  animation-name: overlay-slide-out-top; }

@keyframes overlay-slide-in-bottom {
  0% {
    height: 100%; }
  100% {
    height: 0; } }
.overlay-slide-in-bottom {
  bottom: 0;
  height: 0;
  animation-name: overlay-slide-in-bottom; }

@keyframes overlay-slide-out-bottom {
  0% {
    height: 0; }
  100% {
    height: 100%; } }
.overlay-slide-out-bottom {
  bottom: 0;
  height: 100%;
  animation-name: overlay-slide-out-bottom; }

@keyframes overlay-slide-in-left {
  0% {
    width: 100%; }
  100% {
    width: 0; } }
.overlay-slide-in-left {
  width: 0;
  animation-name: overlay-slide-in-left; }

@keyframes overlay-slide-out-left {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
.overlay-slide-out-left {
  left: 0;
  width: 100%;
  animation-name: overlay-slide-out-left; }

@keyframes overlay-slide-in-right {
  0% {
    width: 100%; }
  100% {
    width: 0; } }
.overlay-slide-in-right {
  right: 0;
  width: 0;
  animation-name: overlay-slide-in-right; }

@keyframes overlay-slide-out-right {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
.overlay-slide-out-right {
  right: 0;
  width: 100%;
  animation-name: overlay-slide-out-right; }

/*# sourceMappingURL=style.css.map */
